[Unit]
Description=Airflow webserver daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
User=omadmin
Group=omadmin
Type=simple
ExecStart=/home/omadmin/airflow/start_airflow.sh
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
