[Unit]
Description=Airflow scheduler daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
User=omadmin
Group=omadmin
Type=simple
ExecStart=/home/omadmin/airflow/start_scheduler.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
