[Unit]
Description=Openmetadata server daemon
After=network.target postgresql.service elasticsearch.service airflow-webserver.service
Wants=postgresql.service elasticsearch.service airflow-webserver.service

[Service]
User=omadmin
Group=omadmin
Type=forking
WorkingDirectory=/home/omadmin/openmetadata/openmetadata-1.9.1/
ExecStart=/home/omadmin/openmetadata/openmetadata-1.9.1/bin/openmetadata.sh start
#ExecStop=/home/omadmin/openmetadata/openmetadata-1.9.1/bin/openmetadata.sh stop
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
